* {
  color: white;
}
body {
  /* background: linear-gradient(rgb(38, 37, 37), grey, black); */
  background-color: rgb(38, 37, 37);
}

button {
  width: 100px;
  padding: 5px;
  color: wheat;
  font-weight: bolder;
  border: 1px solid grey;
  border-radius: 20px;
  background: linear-gradient(45deg, grey, black);
}

.table1 {
  margin: 0 auto;
}

img {
  border-radius: 50%;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  padding: 0 30px;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: yellow;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.books {
  border: 1px solid red;
  padding-right: 10px;
}

.table2 {
  border: 1px solid blue;
  border-collapse: collapse;
  text-align: center;
}

.table2 tr th {
  border: 1px dashed blue;
  padding: 3px;
  width: 100px;
}

.Skills {
  border: 1px solid green;
  padding: 5px;
}

.more {
  display: flex;
  justify-content: center;
}

.about {
  text-decoration: none;
  border: 2px solid grey;
  padding: 5px;
  color: white;
  font-size: 16px;
}
