* {
  color: white;
}

body {
  background-color: rgb(38, 37, 37);
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

header {
  background-color: #222;
  padding: 20px 0;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  text-decoration: none;
  font-size: 25px;
  font-family: cursive;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  list-style: none;
  padding: 0 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: yellow;
}

.table1 {
  display: flex;
  justify-content: center;
}

.buttons {
  width: 100px;
  padding: 10px;
  color: wheat;
  font-weight: bolder;
  border: 2px solid grey;
  border-radius: 20px;
  background: linear-gradient(45deg, grey, black);
  cursor: pointer;
  transition: background 0.3s ease;
}

.buttons:hover {
  background: linear-gradient(45deg, black, grey);
}

.table1 td {
  padding: 20px;
}

h1,
h3,
h4 {
  color: white;
}

.download_button {
  padding: 15px;
  width: 200px;
  border-radius: 5px;
  background-color: yellow;
  color: black;
  font-weight: 600;
  display: flex;
  margin: 20px auto;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.download_button:hover {
  background-color: #ffc107;
  color: black;
}

img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.more {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
}

.about {
  text-decoration: none;
  border: 2px solid grey;
  padding: 10px;
  color: white;
  font-size: 16px;
  transition: border 0.3s ease, color 0.3s ease;
}

.about:hover {
  border: 2px solid yellow;
  color: yellow;
}

/* -======================================== */
.body2 {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(38, 37, 37);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.books li {
  list-style: none;
  margin: 5px 0;
}

.table2 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table2 th,
.table2 td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.Skills {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.Skills th,
.Skills td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

h1 {
  margin-top: 30px;
}

ol {
  padding-left: 20px;
}
/* ======================== */
